<div class="container">
  <div class="lead well">
    <div class="media">
      <div class="media-left">
        <a href="#"><img class="d-flex mr-3" src="http://res.cloudinary.com/demo/image/upload/w_100,h_100,c_thumb,g_face,r_20,d_avatar.png/non_existing_id.png" alt="Generic placeholder image"></a>
      </div>
      <div class="media-body">
        <h5 class="mt-0">John Doe asked: </h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
        odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
        fringilla. Donec lacinia congue felis in faucibus.
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <div class="media">
        <div class="media-left">
          <a href="#"><img class="d-flex mr-3" src="http://res.cloudinary.com/demo/image/upload/w_100,h_100,c_thumb,g_face,r_20,d_avatar.png/non_existing_id.png" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">
          <h5 class="mt-0">Jane Doe answered: </h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
          odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
          fringilla. Donec lacinia congue felis in faucibus.
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <a href="#"><img class="d-flex mr-3" src="http://res.cloudinary.com/demo/image/upload/w_100,h_100,c_thumb,g_face,r_20,d_avatar.png/non_existing_id.png" alt="Generic placeholder image"></a>
        </div>
        <div class="media-body">
          <h5 class="mt-0">Jane Doe answered: </h5>
          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus
          odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
          fringilla. Donec lacinia congue felis in faucibus.
        </div>
      </div>
      <hr>
      <!-- <form action=""> -->
      <%= form_for :answer, url: '/answers' do %>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Submit Answer</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="question_body" placeholder="Type Answer Here"
            required></textarea>
          <div></div>
          <button type="submit" class="btn btn-primary pull-right">Submit Answer</button>
        </div>
        <% end %>
          <!-- </form> -->
    </div>
  </div>
</div>
