// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.media-card{
  border: thin solid #ddd;
  padding: 1em;
  background-color: #F5F5F5;
  border-radius: 10px;
}
